<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav top-right">
                    <p class="col-sm-offset-8 col-sm-4"><span class="glyphicon glyphicon-user">&#32; Welcome {{ user }}!<a href="#"><span class="glyphicon glyphicon-log-in"></span></a></span></p></ul>
                {% endif %}
                  <ul class="nav navbar-nav top-right">
                <a class="col-sm-offset-7 col-sm-5" href="logout"><span class="glyphicon glyphicon-log-out"></span>&#32;logout</a></ul>
            </div>
        </div>
        {% block content %} {% endblock %}
        
        <div class="panel-default ">
            <div class="panel-footer">
                    {% block footer %}
                        &copy; dagger 2014
                    {% endblock %}
            </div>
        </div>
    </body>
</html>
