<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        {% if user.is_authenticated %}
            <p class="col-sm-offset-7 col-sm-5">Welcome {{ user }}!</p>
        {% endif %}
        {% block content %} {% endblock %}
        
        <div class="panel-default ">
            <div class="panel-footer">
                    {% block footer %}
                        &copy; copright 2014
                    {% endblock %}
            </div>
        </div>
    </body>
</html>
