{% extends "basic_dj/base.html" %}

{% block content %}
    <div class="books">
        {% if books.objects_list %}
            {% for book in books.object_list %}
                 <div class="title col-sm-12"><h4>Book Title: {{ book.title|upper }}</h4></div>
                 <ul>
                    <div class="time">Published Date: {{ book.publication_date }}</div>
                    <div class="publisher">Publisher: {{ book.publisher }}</div>
                 </ul>
            {% endfor %}
        {% else %}
        <p>No books availabel.</p>
    {% endif %}
        {% if books.object_list and books.paginator.num_pages > 1 %}
            <ul class="pager">
                {% if books.has_previous %}
                    <a href="?page={{ books.previous_page_number }}">&laquo; previous </a>
                {% endif %}
                    &nbsp; Page {{ books.number }} of {{ books.paginator.num_pages }}
                {% if books.has_next %}
                    <a href="?page={{ books.next_page_number }}">next &raquo;</a>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}