{% extends "basic_dj/base.html" %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
		<p>Adding a book for {{ author.first_name }}</p>
			<form class="form-horizontal" action="." method="post" role="form">
				{% csrf_token %}
				<div class="form-registered-heading">Book Register Here</div>
				    {% for field in book_form %}
					    <div class="form-group ">
					        {{ field.errors }}
					        {{ field.label_tag}} {{ field }}
					    </div>
					{% endfor %}
					<button type="submit" class="btn btn-success">Submit</button>
	                <button type="cancel" class="btn btn-danger">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}