{% extends "basic_dj/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <form  class="form-horizontal" action="." method="post" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="form-register-heading">Register Here</h2>
                {% for field in create_form %}
                    <div class=" control-form form-group col-xs-12">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }} 
                     </div>
                {% endfor %}
                <div class="col-sm-12 col-md-8">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="cancel" class="btn btn-danger">Cancel</button>
                </div>      
            </form>
        </div>
    </div>
</div>
{% endblock %}