<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav top-right">
                        <p class="col-sm-offset-8 col-sm-4">
                            <span class="glyphicon glyphicon-user">&#32; Welcome {{ user }}!<a href="#"><span class="glyphicon glyphicon-log-in"></span></a></span>
                            &nbsp;<a href="{% url 'admin:logout' %}">&#32;logout<span class="glyphicon glyphicon-log-out"></span></a>
                        </p>
                    </ul> 
                {% else %}
                   <p class="col-sm-offset-7 col-sm-3">welcome guest! &nbsp; <a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-log-in"></span>&#32;login</a></p>
                {% endif %}
            </div>
        </div>
        {% block content %} {% endblock %}
        
        <div class="panel-default">
            <div class="panel-footer">
                    {% block footer %}
                        &copy; copyrights dagger 2014
                    {% endblock %}
            </div>
        </div>
    </body>
</html>